
/* TimeslotView
--------------------------------------------------------------------------------------------------*/

.fc-timeslots-axis {
	width: 50px;
	padding: 0 5px 0 4px;
	text-align: right;
}
.fc-time-grid .fc-timeslots td {
	height: auto;
}
.fc-timeslots-break
{
	background: #eee;
}
